@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts */

  --font-title: "Outfit", sans-serif;
--font-ui: "Montserrat", sans-serif;
--font-body: "Montserrat", sans-serif;

  /* Colors */

  --color-black: #050505;
  --color-black-soft: #111111;

  --color-white: #ffffff;

  --color-cream: #fbf7f1;
  --color-beige: #eee2d1;

  --color-orange: #ff8200;
  --color-orange-dark: #e96f00;
  --color-orange-light: #ffab47;

  --color-text: #171717;
  --color-text-light: #6f6a64;

  /* Borders */

  --color-border: rgba(0, 0, 0, 0.08);
  --color-border-light: rgba(255, 255, 255, 0.12);

  /* Radius */

  --radius-sm: 12px;
  --radius-md: 20px;
  --radius-lg: 32px;
  --radius-xl: 48px;
  --radius-full: 999px;

  /* Shadows */

  --shadow-sm: 0 10px 30px rgba(0, 0, 0, 0.08);
  --shadow-md: 0 20px 50px rgba(0, 0, 0, 0.12);
  --shadow-lg: 0 30px 80px rgba(0, 0, 0, 0.16);

  /* Layout */

  --container-width: 1280px;

  /* Transition */

  --transition-default: 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);

  background: var(--color-cream);
  color: var(--color-text);

  overflow-x: hidden;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

