.login {

    position: relative;

    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;

}

.login__overlay {

    position: absolute;
    inset: 0;

    background: rgba(5, 5, 5, .60);

    backdrop-filter: blur(6px);

}

.login__container {

    position: relative;

    width: 100%;
    max-width: 520px;

    padding: 55px;

    border-radius: 32px;

    
    background:var(--color-white);

    backdrop-filter: blur(24px);

    border: 1px solid rgba(255,255,255,.35);

    box-shadow:
        0 30px 80px rgba(0,0,0,.35);

    z-index: 2;

}

.login__logo{

    display:block;

    width: 220px;

    margin:0 auto 0px;
    margin-top: -50px;
    margin-bottom: -15px;

}

.login__header{

    text-align:center;

    margin-bottom: 30px;

}

.login__subtitle{

    display:block;

    margin-bottom:14px;

    font-family:var(--font-ui);

    font-size:.65rem;

    font-weight:700;

    letter-spacing:3px;

    color:var(--color-orange);

}

.login__title{

    margin-bottom:12px;

    font-family:var(--font-title);

    font-size:3.4rem;

    font-weight:700;

    line-height:1.05;

    color:var(--color-black);

}

.login__description{

    line-height:1.8;

    color:var(--color-text-light);
     font-size: 0.8rem;

}

.login__form{

    display:flex;

    flex-direction:column;

    gap:25px;

}

.login__field{

    display:flex;

    flex-direction:column;

    gap:10px;

}

.login__field label{

    font-weight:600;

    color:var(--color-text);

}

.login__input{

    display:flex;

    align-items:center;

    gap:16px;

    height: 55px;

    padding:0 22px;

    border-radius:18px;

    border:1px solid var(--color-border);

    background: rgba(250, 248, 248, 0.92);

    transition:.3s;

}

.login__input svg{

    color:#9b9b9b;

}

.login__input:focus-within{

    border-color:var(--color-orange);

    box-shadow:0 0 0 5px rgba(255,130,0,.12);

}

.login__input input{

    flex:1;

    border:none;

    outline:none;

    background:none;

    font-size:.97rem;

    font-family:var(--font-body);

}

.login__input input::placeholder{

    color:#9b9b9b;

}

.login__button{

    margin-top:10px;

    height:60px;

    border:none;

    border-radius:18px;

    font-size:1rem;

    font-weight:700;

    color:#fff;

    background:linear-gradient(
        180deg,
        #ffa12e 0%,
        var(--color-orange) 100%
    );

    box-shadow:
        0 18px 35px rgba(255,130,0,.35);

    transition:.35s;

}

.login__button:hover{

    transform:translateY(-3px);

    box-shadow:
        0 24px 45px rgba(255,130,0,.45);

}

.login__button:active{

    transform:scale(.98);

}

@media(max-width:768px){

    .login{

        padding:24px;

    }

    .login__container{

        padding:40px 28px;

    }

    .login__logo{

        width:180px;

    }

    .login__title{

        font-size:2.6rem;

    }

}