.header {

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: var(--header-height);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 35px;

    background: var(--color-white);

    border-bottom: 1px solid var(--color-border);

    z-index: 1000;

}

.header__left{

    width:260px;

    display:flex;
    align-items:center;

}

.header__logo-link{

    display:flex;
    align-items:center;

}

.header__logo{

    width: 145px;

    display:block;

}

.header__center{

    flex:1;

    display:flex;
    justify-content:center;

}

.header__title{

    display:flex;
    align-items:center;

    gap:18px;

}

.header__title span{

    width:55px;
    height:1px;

    background:var(--color-orange);

}

.header__title p{

    font-family:var(--font-ui);

    font-size:.82rem;

    font-weight:700;

    letter-spacing:3px;

    color:var(--color-orange);

}

.header__right{

    width:260px;

    display:flex;
    justify-content:flex-end;
    align-items:center;

    gap: 21px;

}

.header__avatar{

    width:46px;
    height:46px;

    border-radius:50%;

    background:var(--color-orange);

    color:#fff;

    display:flex;
    justify-content:center;
    align-items:center;

    font-weight:700;

    font-size:1.6rem;

    box-shadow:0 10px 25px rgba(255,130,0,.25);

}

.header__name{

    font-weight:600;

    color:var(--color-text);

}
.header__logout {

    width: 32px;
    height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 12px;

    background: var(--color-orange);

    cursor: pointer;

    transition: var(--transition-default);

  

}

.header__logout svg {

    color: var(--color-white);

    transition: var(--transition-default);

}

.header__logout:hover {

    background: var(--color-orange-dark);




}



.header__menu{

    display:none;

    width:42px;
    height:42px;

    border:none;
    border-radius:12px;

    background:transparent;

    cursor:pointer;

    align-items:center;
    justify-content:center;

}

.header__menu svg{

    color:var(--color-text);

}


@media(max-width:1024px){


    .header__menu{

    display:flex;

}

.header__logo-link{

    display:none;

}

.header{

padding:0 20px;

}

.header__center{

display:none;

}

.header__left{

width:auto;

}

.header__right{

width:auto;

gap:12px;

}

.header__logo{

width:135px;

}

.header__name{

display:none;

}

}

